<h2>Comments</h2>
<div id="comment_list">
	<%= render item.comments.order(created_at: :desc )%>
</div>
<h2>Add a comment:</h2>
<%= form_with(model: [ item, item.comments.new], remote: true) do |form| %>
<div id="errors">
</div>
<p>
	<%= form.label :author %><br>
	<%= form.text_field :author %>
</p>
<p>
	<%= form.label :content %><br>
	<%= form.text_area :content %>
</p>
<p>
	<%= form.submit %>
</p>
<% end %>