<%= form_with(model: article, local: true) do |form| %>
  <%= render 'components/errors', item: article%>
  <p>
    <%= form.text_field :name, placeholder: "Name"%>
  </p>
  <p>
    <%= form.text_area :content, placeholder: "Description", rows: 6%>
  </p>
  <p>
    <%= form.select(:category_id, Category.all.map{|i|[i.name, i.id]}) %>
  </p>
  <div class="submit">
    <%= form.button 'Create', type: :submit %>
  </div>
<% end %>
