<%= form_with(model: category, local: true) do |form| %>
  <%= render 'components/errors', item: category%>
  <p>
    <%= form.text_field :name, placeholder: "Name"%>
  </p>
  <p>
    <%= form.text_area :description, placeholder: "Description", rows: 6%>
  </p>
  <div class="submit">
    <%= form.button :button, type: :submit %>
  </div>
<% end %>