<div class="categories_category">
  <h2>
    <%= @category.name%>
  </h2>
  <div class="content">
    <p>
      <%= @category.description%>
    </p>
  </div>
  <div class="actions">
    <%= link_to 'Back', :back%>
    <%= link_to 'Edit', edit_category_path(@category) %>
    <%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  
	<div class="comments">
    <%= render 'comments/list',item: @category%>
	</div>

  <div class="articles">
    <%if @articles.present?%>
    <h2>Articles</h2>
    <div class="articles_wrap">
      <%= render @articles %>
    </div>
    <%end%>
    <div class="actions">
      <%= link_to 'New Article', new_article_path %>
    </div>
  </div>
</div>