<div class="category">
  <h1><%= @category.name %></h1>
  <p><%= @category.description %></p>
  <%= link_to 'Edit', edit_category_path(@category) %>
  <div class="comments">
    <%= render 'comments/list', item: @category%>
  </div>
  <div class="articles">
    <h2>Articles list:</h2>
    <%= render @category.articles %>
    <%= link_to 'New Article', new_article_path %>
  </div>
</div>