<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Neucha|Pacifico&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><%= link_to 'SimpleBlog', root_path %></h1>
        <div id="notification_wrap">
          <%= render 'shared/notification' %>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
      <%= yield %>
      </div>
    </main>
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
